<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename='after_prediction.css')}}>
    <title>Flower Power</title>
</head>
<body>
<header align="right">
    <a href="{{url_for('predict')}}">Predictor</a>
    <a href="{{url_for('home')}}">Home</a>
</header>
<h1 style="text-align: center; font-size: 3 rem; font-weight: bolder">Iris Virginica</h1>
<p>Values Provided: </p>
<ul id="menu">
  <li>Sepal Length: {{s_len}}, </li>
  <li>Sepal Width: {{s_wid}}, </li>
  <li>Petal Length: {{p_len}}, </li>
  <li>Petal Width: {{p_wid}}</li>
</ul>
<div class="virginica_img">
    <img src="../static/iris background.jfif" alt="Rishi" style="height: 550px; width: 550px; margin-left: 32%">
</div>
<div>
    <h2><center>Iris virginica, with the common name Virginia iris, is a perennial species of flowering plant, native to eastern North America. It is common along the coastal plain from Florida to Georgia in the Southeastern United States.</center></h2>
</div>
</body>
</html>